<section class="recipe-actions">
  <a href="/recipes/<%= recipe._id %>/updateRecipeForm"
    ><button class="btn">Update</button></a
  >
  <a href="/recipes/<%= recipe._id %>/deleteRecipeForm"
    ><button class="btn delete">Delete</button></a
  >
</section>
