<div class="recipe-actions">
  <a href="/recipes/<%= recipe._id %>/updateRecipeForm"
    ><button class="fcont">Update</button></a
  >
  <a href="/recipes/<%= recipe._id %>/deleteRecipeForm"
    ><button class="fcont delete">Delete</button></a
  >
</div>
