<section>
  <h1 class="title">Available Recipes</h1>
  <div class="card-container">
    <% recipes.forEach(recipe => { %>
    <div class="card">
      <div class="card-description">
        <h2 class="sub-title"><%= recipe.name %></h2>
        <p>Category: <%= recipe.category %></p>
        <div class="card-button">
          <div class="post-metadata">
            <p>Prep Time: <%= recipe.time %> mins</p>
          </div>
          <a href="/recipes/<%= recipe._id %> "
            ><button class="btn">View</button></a
          >
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</section>
