<h2 id="rtitle">Categories</h2>
<div class="categories">
  <a href="/recipes/addRecipe"><button class="fcont">Breakfast</button></a>
  <a href="/recipes/addRecipe"><button class="fcont">Lunch</button></a>
  <a href="/recipes/addRecipe"><button class="fcont">Dinner</button></a>
  <a href="/recipes/addRecipe"><button class="fcont">Snacks</button></a>
  <a href="/recipes/addRecipe"><button class="fcont">Drinks</button></a>
</div>
