<section class="category-actions">
  <h1 class="title">Categories</h1>
  <div class="categories">
    <a href="/recipes/categories/breakfasts"
      ><button class="btn">Breakfast</button></a
    >
    <a href="/recipes/categories/lunches"><button class="btn">Lunch</button></a>

    <a href="/recipes/categories/dinners"
      ><button class="btn">Dinner</button></a
    >
    <a href="/recipes/categories/desserts"
      ><button class="btn">Desserts</button></a
    >
    <a href="/recipes/categories/snacks"><button class="btn">Snacks</button></a>
    <a href="/recipes/categories/drinks"><button class="btn">Drinks</button></a>
  </div>
</section>
