<div class="category-actions">
  <h2 id="rtitle">Categories</h2>
  <br />
  <div class="categories">
    <a href="/recipes/categories/breakfasts"
      ><button class="fcont">Breakfast</button></a
    >
    <a href="/recipes/categories/lunches"
      ><button class="fcont">Lunch</button></a
    >

    <a href="/recipes/categories/dinners"
      ><button class="fcont">Dinner</button></a
    >
    <a href="/recipes/categories/desserts"
      ><button class="fcont">Desserts</button></a
    >
    <a href="/recipes/categories/snacks"
      ><button class="fcont">Snacks</button></a
    >
    <a href="/recipes/categories/drinks"
      ><button class="fcont">Drinks</button></a
    >
  </div>
</div>
