<nav>
  <a href="/"><button class="fcont">Home</button></a>
  <a href="/recipes"><button class="fcont">View All Recipes</button></a>
  <a href="/recipes/addRecipe"><button class="fcont add">Add</button></a>
</nav>
