<nav>
  <a href="/"><button class="btn">Home</button></a>
  <a href="/recipes"><button class="btn">View All</button></a>
  <a href="/recipes/addRecipe"><button class="btn add">Add</button></a>
</nav>
