<section>
  <h2 class="sub-title">
    You are about to make destructive changes to the <%= recipeInfo.name %>
    recipe.
  </h2>

  <label for="password">Enter password to proceed:</label>
  <input id="password" type="password" name="password" />

  <button class="btn delete" type="submit"><%= title %></button>
</section>
