* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: monospace, sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    border: 2px solid #000000;
    height: 100%;
    min-height: 100vh;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.recipe-actions {
    display: flex;
    align-items: center;
    gap: 5px;
}

.add {
    background-color: #14a507;
}

.add:hover {
    filter: brightness(80%);
}

.delete {
    background-color: #a90a0a;
}

.delete:hover {
    filter: brightness(80%);
}

.categories {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: fit-content;
    max-width: 100%;
    padding: 10px;
}

.fcont {
    border: 1.5px solid #000000;
    padding: 10px 20px 10px 20px;
}

h1 {
    text-align: center;
}

img {
    height: auto;
    width: 100%;
    max-width: 400px;
    border: 1.5px solid black;
}

.description, .nutrients, .ingredients, .steps, #intro, #outro {
    margin: auto;
    max-width: 500px;
    text-align: justify;
    padding: 20px;
}

.card {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
    border: 2px solid #000000;
}

.card-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.card-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.post-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 200px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

form input, textarea, select {
    width: 100%;
}

.recipes, #rtitle {
    text-align: center;
}

#outro h3 {
    text-align: center;
}