* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    height: 100vh;
    text-align: center;
}

p {
    padding: 50px;
}

img {
    height: auto;
    width: 400px;
    border: 1px solid black;
    margin: 20px;
}

.steps {
    margin: auto;
    width: 50%;
    text-align: justify;
    padding: 20px;
}